.container {
  height: 55.7vh;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem auto;
}

.wrapper {
  width: 27rem;
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: var(--primary-font);
  color: var(--background);
  font-weight: 600;
}

.wordCounter {
  font-family: var(--primary-font);
  color: var(--background);
  font-weight: 600;
}
